@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// обнуление
@import "nullin.scss";

body {
  background-color: #1e1e1e;
  color: white;
  font-family: Roboto, serif;
  height: 100vh;
  //overflow-y: hidden;
}

*::-webkit-scrollbar {
  width: 6px; // ширина scrollbar
}

*::-webkit-scrollbar-track {
  background: #1b1b1b; // цвет дорожки
  margin: 5px 0;

}

*::-webkit-scrollbar-thumb {
  background-color: #414142; // цвет плашки
  border-radius: 20px; // закругления плашки
  border: 0; // padding вокруг плашки
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  &.active &__background {
    opacity: 1;
    backdrop-filter: blur(30px);
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: backdrop-filter .2s ease, opacity .2s ease;
  }

  &__window {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    padding: 15px;
  }

  &__title {
    font-size: 30px;
    text-align: center;
    font-weight: 450;
    user-select: none;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    padding: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
  }
}

.modal-registration, .modal-login {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity .1s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &__method {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    padding: 5px 10px;
    user-select: none;
  }

  &__method-title {
    font-size: 15px;
    font-weight: 450;
    color: white;
  }

  &__method-option {
    font-size: 15px;
    font-weight: 450;
    color: #da8c00;
    transition: color .3s ease;

    &:hover {
      color: #ffa300;
    }
  }

  &__form {
    background-color: rgba(255, 255, 255, .1);
    justify-content: space-between;
    gap: 5px;
    margin: 10px 0;

    &-title {
      user-select: none;
      cursor: pointer;
      margin-top: 10px;
      font-size: 16px;
    }

    &-input {
      user-select: none;
      padding: 10px;
      background-color: #414142;
      color: white;
      border-radius: 3px;
      font-size: 14px;
      height: 40px;
    }

    &-button {
      margin-top: 15px;
      height: 40px;
      border-radius: 3px;
      font-size: 24px;
      transition: background-color .3s ease, color .3s ease;
      background-color: #414142;
      color: #6c6c6e;
      cursor: auto;

      &.active {
        cursor: pointer;
        background-color: orange;
        color: white;

        &:hover {
          background-color: #da8c00;
        }
      }
    }

    &-response {
      font-size: 14px;
      opacity: 0;
      height: 0;
      width: 100%;
      color: #ff0707;
      overflow: hidden;
      white-space: nowrap;
      transition: height .1s ease, opacity .3s ease;
      user-select: none;

      &.active {
        margin-top: 5px;
        height: 14px;
        opacity: 1;
      }
    }
  }
}


.input {
  border: solid 2px rgba(0, 0, 0, 0);
  transition: border .1s ease, background-color .1s ease, color .1s ease;

  &:hover {
    border: solid 2px rgba(255, 255, 255, .25);
  }

  &:focus {
    border: solid 2px orange;
  }

  &.error {
    border: solid 2px #ff0707;
    color: #ff0707;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
}

.header {
  user-select: none;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  height: 60px;

  &__logo {
    display: flex;
    justify-content: center;
    grid-area: hlogo;
    font-size: 22px;
    font-weight: 450;
  }

  &__nav {
    font-size: 18px;
    font-weight: 450;
    grid-area: hnav;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    white-space: nowrap;
  }

  &__item {
    grid-area: hitem;
    transition: all .3s ease;

    &:hover {
      color: orange;
    }
  }

  &__buttons {
    grid-area: hbut;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 450;
    color: white;
    transition: all .3s ease;

    &:hover {
      color: orange;
    }
  }
}

.header-inner {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: auto   40px  1fr   40px  auto  20px  auto;
  grid-template-areas:  "hlogo  ....  hnav  ....  hbut  ....  hlangsw";
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat {
  flex: 1 1 auto;
  overflow: auto;
  width: 100%;

  &__wrapper {
    background-color: #1B1B1BFF;
    border-radius: 5px;
    padding: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    height: 15px;
    border-bottom: 1px white solid;
    z-index: 1;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow:    0 10px 10px 0 rgba(0, 0, 0, .3);
    box-shadow:         0 10px 10px 0 rgba(0, 0, 0, .3);
  }

  &__footer {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    height: 15px;
    border-top: 1px white solid;
    z-index: 1;
    -webkit-box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow:    0 -10px 10px 0 rgba(0, 0, 0, .3);
    box-shadow:         0 -10px 10px 0 rgba(0, 0, 0, .3);
  }

  &__search {
    display: flex;
    flex-direction: column;
    gap: 8px;
    letter-spacing: 1px;

    span {
      margin-left: 2.5px;
    }
  }

  &__messages {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 15px 0;
    gap: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
}

.message {
  position: relative;
  left: 0;
  display: grid;
  justify-content: center;
  grid-template-rows:    auto     auto;
  grid-template-columns: auto     auto auto;
  grid-template-areas:  "username .... ...."
                        "text     time delete";
  gap: 5px;
  background-color: #2d2d2e;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
  max-width: calc(50% - 5px);
  width: fit-content;
  line-height: 100%;
  animation: creating1 .2s none;

  &:hover {
    .message__delete {
      opacity: 1;
      margin-left: 6px;
      width: 16px;
    }
  }

  @media (max-width: 1000px) {
    font-size: 15px;
  }
  @media (max-width: 800px) {
    font-size: 14px;
  }
  @media (max-width: 700px) {
    max-width: calc(100% - 5px);
  }
  @media (max-width: 500px) {
    font-size: 14px;
    gap: 3px;
  }
  @media (max-width: 400px) {
    font-size: 13px;
  }

  &.my-message {
    background-color: #c78100;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:  "text time delete";
    gap: 0;

    @media (max-width: 700px) {
      max-width: calc(100% - 5px);
      align-self: end;
      margin-right: 5px;
    }

    .message__username {
      display: none;
    }

    .message__time {
      margin-left: 12px;
      color: #ffd484;
    }

    &:hover {
      .message__delete {
        opacity: 1;
        margin-left: 6px;
        width: 16px;
      }
    }
  }

  &__username {
    grid-area: username;
    font-weight: bold;
    white-space: nowrap;
    animation: creating2 .2s forwards;
  }

  &__text {
    grid-area: text;
    word-wrap: anywhere;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1.5;
    min-width: min-content;
    animation: creating2 .2s forwards;
  }

  &__time {
    grid-area: time;
    color: gray;
    font-size: 12px;
    align-self: end;
    margin-left: 7px;
    animation: creating2 .2s forwards;
  }

  &__delete {
    grid-area: delete;
    align-self: end;
    cursor: pointer;
    height: 16px;
    width: 0;
    margin-left: 0;
    opacity: 0;
    transition: all .2s ease;

    & svg {
      height: 16px;
      width: 16px;
      stroke: #dadada;
      transition: stroke .2s ease;

      &:hover {
        stroke: red;
      }

      & path {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@keyframes creating1 {
  0% {
    //margin-top: -50px;
    bottom: -50px;
  }
  100% {
    //margin-top: 0;
    bottom: 0;
  }
}

@keyframes creating2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message-input {
  margin-top: 5px;
  background-color: #2d2d2e;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &__wrapper {
    overflow-y: auto;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
    max-height: 180px;
  }
}

.message-send {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
  background-color: #414142;

  &__field {
    user-select: none;
    padding: 10px;
    overflow-y: scroll;
    color: white;
    width: 100%;
    background-color: #414142;
    border-radius: 5px;
    //word-wrap: break-word;
    //-webkit-hyphens: auto;
    //-ms-hyphens: auto;
    //hyphens: auto;
  }

  &__button {
    display: flex;
    height: 40px;
    stroke: rgb(64, 64, 65);
    //stroke: #6c6c6e;
    //fill: #414142;
    fill: #2d2d2e;
    transition: stroke .1s ease, fill .1s ease;
    align-self: end;

    &.active {
      fill: orange;
      cursor: pointer;

      &:hover {
        fill: #da8c00;
      }
    }
  }
}